body{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url('https://source.unsplash.com/user/erondu/1600x900?landscape');
}
.card{
    display: flexbox;
    margin-top: 12%;
    padding: 2 em;
    background-color: #000000d0;
    color: white;
    height: 400px;
    width: 500px;
    border-radius: 15px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.search-button{
    border-radius: 10px;
    border-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
input{
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    margin-top: 10%;
}
button:hover{
    background-color: #7c7c7c6b;
}